<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>
<div th:replace="base :: navbarmenu"></div>


<h2>You Are Following...</h2>
<div th:replace="base :: navlinks"></div><br/><br/>

<div class="container">
    <table class="table" title="items" >
        <thead>
        <tr>
            <th></th>
            <th>Username</th>
            <th>First Name</th>
            <!--<th>Date Lost</th>-->
            <!--<th>Description</th>-->
            <!--<th>Found</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <!--<td><img class="img-rounded" th:src="${message.image}" alt="Item Picture" style="width:30%"/></td>-->

            <td th:text="${user.username}"></td>

            <td th:text="${user.firstName}"></td>
            <!--<td>-->
                <!--<a th:href="@{/detail/{id}(id=${message.id})}">Details</a>-->
            <!--</td>-->
            <!--<td><a th:href="@{/update/{id} (id=${item.id})}">Update</a></td>-->
            <!--<td><a th:href="@{/found/{id} (id=${message.id})}">Found</a></td>-->

            <td><a th:href="@{/follow/{id} (id=${user.id})}">Follow</a></td>
        </tr>
        </tbody>
        <!--<a th:href="currentlist">Show All Reports</a>-->
    </table>
</div>
</body>
</html>